html{
    background-image: url("assets/bg.jfif");
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(zh-cn.ttf);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    position: relative;
    top: 100px;
}
.center{
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 30px;
    color: rgb(31, 30, 30);
}
.user-int{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 260px;
    
}
.character{
    padding: 10px;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right:65%;
}
h3{
    max-height: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    background-color: blanchedalmond;
    font-family: myFirstFont;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    outline: none;
    transition: ease-out 0.3s;
    outline: none;
    box-shadow: inset 0 0 0 0 rgb(235, 208, 160);
    border: none;

}
button:hover{
    box-shadow: inset 250px 0 0 0 rgb(235, 208, 160);
}

#number{
    width: 150px;
    color: black;
}
