html{
    background-image: url("assets/bg.jfif");
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(zh-cn.ttf);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    position: relative;
    top: 50px;
}
.element{
    position: absolute;
    top: 520px;
    left:401px;
}
.fullb{
    position: absolute;
    height: 700px;
    right: 300px;
    top: 200px;

}
.center{
    border-radius: 10px;
    padding: 20px;
    position: relative;
    left: 30px;
    color: rgb(31, 30, 30);
}
.user-int{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    bottom: 100px;
    
}
.character{
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    right:70%;
}
.desc{
    position: relative;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    right: 500px;
    bottom: 70px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
header{
    padding-top: 10px;
    text-align: center;
    
}
h3{
    max-height: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    font-family: myFirstFont;
    font-size: 40px;
}
button{
    margin-top: 10px;
    background-color: blanchedalmond;
    font-family: myFirstFont;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    outline: none;
    transition: ease-out 0.3s;
    outline: none;
    box-shadow: inset 0 0 0 0 rgb(235, 208, 160);
    border: none;

}
button:hover{
    box-shadow: inset 250px 0 0 0 rgb(235, 208, 160);
}
#number{
    width: 150px;
    color: black;
}
#select{
    border: 6px solid white;
}
